footer {
  background: #f2f2f2;
  padding: 30px 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  flex-shrink: 0;
  z-index: 10;
  width: 100%;
}

.partFooter {
  width: 20%;
  text-align: center;
}

.partFooter h4 {
  color: var(--text-main);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.partFooter a {
  display: block;
  text-decoration: none;
  color: var(--text-muted);
  font-weight: 400;
  transition: color 0.3s ease-in-out;
  margin-bottom: 10px;
}

.partFooter a:hover {
  color: var(--primary);
}

.partFooter img {
  width: 200px;
  height: 180px;
  aspect-ratio: 4 / 4;
  object-fit: contain;
}

.social-media i {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-muted);
  border: 1px solid var(--text-muted);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin-left: 10px;
  transition: all 0.3s;
}

.social-media i:hover {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
}

.contenedor1 {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 60px 0;
}