<footer>
  <div class="partFooter">
    <img src="assets/images/logotipo.png" alt="" />
  </div>
  <div class="partFooter">
    <h4>Servicios</h4>
    <a href="" herf="#">Inicio</a>
    <a href="" herf="#">Citas</a>
    <a href="" herf="#">Tienda</a>
  </div>
  <div class="partFooter">
    <h4>Acerca de Nostros</h4>
    <a href="#">+1(808) 205-2056</a>
    <a href="#">Av. David Manzanares Zegarra</a>
    <a href="#">luaspetgmail.com</a>
  </div>
  <div class="partFooter">
    <h4>Redes Sociales</h4>
    <div class="social-media">
      <i class="fa-brands fa-youtube"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-x-twitter"></i>
    </div>
  </div>
</footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
