* {
  box-sizing: border-box;
}

.main {
  margin-left: 320px;
}

body {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
  height: 100vh;
  font-family: "Inria Sans", sans-serif;
}

button, label {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

nav {
  position: fixed;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 0 16px;
  background: #D3D3D3;
  backdrop-filter: blur(30px);
  transition: width 0.4s;
  height: 100%;
  width: 300px;
  box-shadow: 4px 0 5px rgba(0, 0, 0, 0.3);
}

nav .opciones {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 100px;
}

nav .option {
  display: flex;
  flex-direction: column;

}

nav .option2 {
  display: flex;
  flex-direction: column;
}

.salir {
  background-color: black;
  height: 50px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.logo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.logo h2 {
  margin-bottom: 0px;
}

.logo img {
  width: 65px;
  height: 50px;
  padding-right: 15px;
}

.sidebar input {
  scale: 0;
  position: absolute;
}

.sidebar input#settings:checked ~ div {
  height: 150px;
}

.sidebar input#create:checked ~ div {
  height: 200px;
}

.sidebar input#profile:checked ~ div {
  height: 100px;
}

.sidebar :is(button, label) {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  height: 50px;
  width: 100%;
  border-radius: 6px;
  font-family: "Inria Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  padding: 0 16px;
  color: black;
}

.sidebar .salir :is(button, label) {
  color: white;
}

.sidebar label p:nth-child(2) {
  flex: 1 1 auto;
}

.sidebar label i {
  transition: 0.3s;
}

.sidebar input:checked ~ label > i:nth-child(3) {
  rotate: -180deg;
}

.sidebar input:checked ~ label,
.sidebar input:not(:checked) ~ label:hover,
.sidebar .opciones button:hover {
  background: #A9A9A9;
  color: black;
}

.sidebar label p {
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

.sidebar ul {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sub-menu {
  position: relative;
  overflow: hidden;
  height: 0;
  transition: 0.5s;
}

.sub-menu ul {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
}

.sub-menu button {
  padding-left: 52px;
}

.sub-menu button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 24px;
  translate: 0 -50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.39);
}

.sidebar .material-symbols-outlined {
  font-size: 16px;
}

.sidebar i {
  font-size: 20px;
  width: 20px;
  max-width: 20px;
  min-width: 20px;
}

@media screen and (max-width: 992px) {
  .contenedor, h1 {
    margin-left: 150px;
  }

  nav {
    width: 100px;
  }

  .sidebar h2 {
    font-size: 30px;
  }

  .sidebar .opciones {
    padding-bottom: 0px;
  }

  .opciones label {
    display: flex;
    flex-direction: column;
  }

  .opciones p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }

  .opciones label {
    gap: 5px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    font-size: 17px;
  }

  .sub-menu button::before {
    width: 0px;
    height: 0px;
  }

  .sub-menu button {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 15px;
  }

  .salir p {
    display: none;
  }

  nav .salir {
    width: 55px;
  }
}

@media screen and (max-width: 576px) {
  .contenido {
    grid-template-columns: 1fr;
    grid-template-areas:
      "campo1"
      "campo2"
      "campo3"
      "campo4"
      "botones";
  }

  nav {
    padding: 0 8px;
  }
}
