<app-nav></app-nav>
<main style="margin-left: 320px; margin-right: 20px;">
  <h1 style="padding-top: 20px;">Lista de Servicios</h1>
  <button class="btn btn-primary mb-3" (click)="showAddServiceForm()" style="margin-right: 5px;">Agregar
    Servicio</button>
  <div *ngIf="selectedService || showAddForm" class="mt-4">
    <h3 *ngIf="selectedService">Editar Servicio</h3>
    <h3 *ngIf="showAddForm && !selectedService">Agregar Servicio</h3>
    <form [formGroup]="serviceForm" (ngSubmit)="addOrUpdateService()" class="border p-4 rounded bg-light">
      <div class="mb-3">
        <label class="form-label">Nombre:</label>
        <input formControlName="name" class="form-control" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Costo:</label>
        <input formControlName="cost" type="number" class="form-control" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Tamaño de Mascota:</label>
        <select formControlName="petSize" class="form-select">
          <option value="" disabled selected>Seleccione un tamaño</option>
          <option value="Pequeño">Pequeño</option>
          <option value="Mediano">Mediano</option>
          <option value="Grande">Grande</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success" style="margin-right: 5px;">{{ selectedService ? 'Actualizar' :
        'Agregar' }}</button>
      <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
    </form>
  </div>
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Costo</th>
        <th>Tamaño de Mascota</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of services">
        <td>{{ service.id }}</td>
        <td>{{ service.name }}</td>
        <td>{{ service.cost | currency }}</td>
        <td>{{ service.petSize }}</td>
        <td>
          <button class="btn btn-warning btn-sm" (click)="editService(service)"
            style="margin-right: 5px;">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="deleteService(service.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>