<app-nav></app-nav>
<main>
  <h2 style="padding-top: 20px;">Gestión de Usuarios</h2>
  <button (click)="downloadExcelFile()" class="btn btn-success mb-3">Descargar Excel</button>
  <button class="btn btn-primary mb-3" (click)="showAddFoodForm()">Agregar Usuario</button>
  <div *ngIf="selectedUser || showAddForm" class="mt-4">
    <h3 *ngIf="selectedUser">Editar Usuario</h3>
    <h3 *ngIf="showAddForm && !selectedUser">Agregar Usuario</h3>
    <form [formGroup]="userForm" (ngSubmit)="selectedUser ? updateUser() : registerUser()" class="border p-4 rounded bg-light">
    <div class="mb-3">
      <label class="form-label">Nombre Completo:</label>
      <input formControlName="fullName" class="form-control" required />
      <div *ngIf="userForm.get('fullName')?.invalid && (userForm.get('fullName')?.dirty || userForm.get('fullName')?.touched)" class="error-message">
        <div *ngIf="userForm.get('fullName')?.errors?.['required']">El nombre completo es requerido.</div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Email:</label>
      <input formControlName="username" class="form-control" required />
      <div *ngIf="userForm.get('username')?.invalid && (userForm.get('username')?.dirty || userForm.get('username')?.touched)" class="error-message">
        <div *ngIf="userForm.get('username')?.errors?.['required']">El correo electrónico es requerido.</div>
        <div *ngIf="userForm.get('username')?.errors?.['email']">Ingresa un correo electrónico válido.</div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">DNI:</label>
      <input formControlName="dni" class="form-control" required />
      <div *ngIf="userForm.get('dni')?.invalid && (userForm.get('dni')?.dirty || userForm.get('dni')?.touched)" class="error-message">
        <div *ngIf="userForm.get('dni')?.errors?.['required']">El número de DNI es requerido.</div>
        <div *ngIf="userForm.get('dni')?.errors?.['pattern']">El DNI solo puede contener números.</div>
        <div *ngIf="userForm.get('dni')?.errors?.['minlength'] || userForm.get('dni')?.errors?.['maxlength']">El DNI debe tener exactamente 7 dígitos.</div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Dirección:</label>
      <input formControlName="address" class="form-control" required />
      <div *ngIf="userForm.get('address')?.invalid && (userForm.get('address')?.dirty || userForm.get('address')?.touched)" class="error-message">
        <div *ngIf="userForm.get('address')?.errors?.['required']">La dirección es requerida.</div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Teléfono:</label>
      <input formControlName="phoneNumber" class="form-control" required />
      <div *ngIf="userForm.get('phoneNumber')?.invalid && (userForm.get('phoneNumber')?.dirty || userForm.get('phoneNumber')?.touched)" class="error-message">
        <div *ngIf="userForm.get('phoneNumber')?.errors?.['required']">El número de teléfono es requerido.</div>
        <div *ngIf="userForm.get('phoneNumber')?.errors?.['pattern']">El número de teléfono solo puede contener números.</div>
        <div *ngIf="userForm.get('phoneNumber')?.errors?.['minlength'] || userForm.get('phoneNumber')?.errors?.['maxlength']">El teléfono debe tener exactamente 9 dígitos.</div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Password:</label>
      <input formControlName="password" class="form-control" required />
      <div *ngIf="userForm.get('password')?.invalid && (userForm.get('password')?.dirty || userForm.get('password')?.touched)" class="error-message">
        <div *ngIf="userForm.get('password')?.errors?.['required']">La contraseña es requerida.</div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Rol:</label>
      <select formControlName="role" class="form-select" required>
        <option value="" disabled selected>Seleccione un rol</option>
        <option value="USER">USER</option>
        <option value="ADMIN">ADMIN</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success" style="margin-right: 5px;">{{ selectedUser ? 'Actualizar' : 'Agregar' }}</button>

    <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
  </form>
  </div>
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Correo Electrónico</th>
        <th>Nombre Completo</th>
        <th>DNI</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{ user.dni }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.role }}</td>
        <td>
          <a (click)="editUser(user)" type="button" class="btn btn-primary"
          style="margin-right: 5px;">Editar</a
          >
          <a (click)="deleteUser(user.id)" class="btn btn-danger">Eliminar</a>
        </td>
      </tr>
    </tbody>
  </table>
</main>
