<app-header></app-header>
<app-nav></app-nav>

<main>
  <section class="informacion">
      <div class="section-title">
          <h1>Guía de Alimentación Saludable para tu Mascota</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad laborum recusandae, eius maiores quia
              consequatur asperiores! Fugit laudantium molestiae doloribus, aspernatur commodi at assumenda
              veritatis ex. Nesciunt optio ipsa temporibus nobis officia vero animi sit natus nemo, dolor, aliquid
              quasi ullam enim fugit alias commodi, fugiat quibusdam rem voluptatibus eos.</p>
      </div>
      <div class="container">
          <div class="content">
              <div class="text-block">
                  <h2>Lorem</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, sint adipisci iure corrupti deleniti similique harum hic praesentium, accusamus, reprehenderit fugit at exercitationem repellat quia vel quam ducimus obcaecati enim culpa? Nam est dolorum cum facere voluptatem itaque molestiae odit. Saepe minus exercitationem nemo culpa quis accusantium quisquam est accusamus?</p>
              </div>
              <div class="text-block">
                  <h2>Lorem, ipsum.</h2>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo iusto veritatis ab consequatur, facere laboriosam, vel ad perspiciatis, deleniti voluptatem libero? Esse nam autem nihil aliquid molestias. Neque ratione, nobis autem minus omnis voluptatem. Modi, eius cupiditate. Sequi illum, veritatis nostrum voluptatum nobis, minus corrupti odio, dicta aliquam cum voluptate!
                  </p>
              </div>
          </div>
          <div class="image">
              <img src="assets/images/referencia.jpg" alt="Imagen representando valores y conócenos">
          </div>
      </div>
      <div class="section-title">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad laborum recusandae, eius maiores quia
              consequatur asperiores! Fugit laudantium molestiae doloribus, aspernatur commodi at assumenda
              veritatis ex. Nesciunt optio ipsa temporibus nobis officia vero animi sit natus nemo, dolor, aliquid
              quasi ullam enim fugit alias commodi, fugiat quibusdam rem voluptatibus eos.</p>
      </div>
  </section>
</main>

<app-footer></app-footer>
